* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: "Rubik", sans-serif;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(167.96deg, #8257e5 0%, #271a45 100%);
  display: grid;
  place-items: center;
  letter-spacing: -0.02em;
}
#app {
  margin: auto;
  width: 327px;
  height: 656px;
}
header {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #ffffff;
  margin-bottom: 20px;
}
main .header {
  padding: 24px 32px;
  border-radius: 24px;
  background-color: #ffffff;
}
main .topo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
main .topo span {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.64);
}
mian .topo p {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.88);
}
main .destino div:nth-child(3),
main .topo div:nth-child(2),
main .identify div:nth-child(2) {
  text-align: right;
}

main .destino {
  display: flex;
  gap: 4px;
  align-items: center;
}
main .destino span:nth-child(1) {
  
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.64);
}

.destino h1 {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: rgba(0, 0, 0, 0.88);
}
main .destino span:nth-child(3) {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.8);
}
main .identify {  
  border-top: 1px dashed rgba(0, 0, 0, 0.32);
  border-bottom: 1px dashed rgba(0, 0, 0, 0.32);
  display: flex;
  justify-content: space-between;
  border-radius: 24px;
  background-color: #ffffff;
  padding: 24px 32px;
}

main .identify span{
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;  
  color: rgba(0, 0, 0, 0.64);
}
main .identify p{
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.88);
  
}
main .qrcode {
  padding: 24px 32px;
  border-radius: 24px;
  background-color: #ffffff;
}
main .qrcode .container div:nth-child(2){
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .qrcode .container p:nth-child(4),
main .qrcode .container p:nth-child(6){ 
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: rgba(0, 0, 0, 0.88);

}
main .qrcode .container p:nth-child(2){
  color: #ffffff;
background: #633BBC;
padding: 4px 8px;
border-radius: 8px;
font-weight: 500;
font-size: 16px;
line-height: 19px;
width: 80%;
color: #FFFFFF;

}
main .qrcode .container{
display: flex;
justify-content: space-between;
}
main .qrcode span{
  font-weight: 400;
font-size: 14px;
line-height: 17px;
color: rgba(0, 0, 0, 0.64);
}

main .qrcode .aviso{
  margin-top: 24px;
  text-align: center;
}
footer {
  margin-top: 20px;
  text-align: center;
  font-weight: 400;
font-size: 14px;
line-height: 24px;
text-align: center;
letter-spacing: -0.02em;

color: #FFFFFF;
}
