* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: "Rubik", sans-serif;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(167.96deg, #8257e5 0%, #271a45 100%);
  display: grid;
  place-items: center;
  letter-spacing: -0.02em;
}
#app {
  margin: auto;
  width: 327px;
  height: 656px;
}
header {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #ffffff;
  margin-bottom: 20px;
}
main .header {
  padding: 24px 32px;
  border-radius: 24px;
  background-color: #ffffff;
}
main .topo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
main .topo span {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.64);
}
mian .topo p {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.88);
}
main .destino div:nth-child(3),
main .topo div:nth-child(2),
main .identify div:nth-child(2) {
  text-align: right;
}

main .destino {
  display: flex;
  gap: 4px;
  align-items: center;
}
main .destino span:nth-child(1) {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.64);
}

.destino h1 {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: rgba(0, 0, 0, 0.88);
}
main .destino span:nth-child(3) {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.8);
}
main .identify {
  display: flex;
  justify-content: space-between;
  border-radius: 24px;
  background-color: #ffffff;
  padding: 24px 32px;
  position: relative;
}
main .identify::before {
  content: "";
  display: inline;
  background: transparent;
  border: 1px dashed rgba(0, 0, 0, 0.32);
  border-bottom: none; 
  width: 87%;
  height: 0px;
  position: absolute;
  top: 86px;
  left: 20px;
}
main .identify::after {
  content: "";
  display: inline;
  background: transparent;
  border: 1px dashed rgba(0, 0, 0, 0.32);
  border-bottom: none; 
  width: 87%;
  height: 0px;
  position: absolute;
  top: 0;
  left: 20px;
}
main .identify span {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.64);
}
main .identify p {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.88);
}
main .qrcode {
  padding: 24px 32px;
  border-radius: 24px;
  background-color: #ffffff;
}
main .qrcode .container div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .qrcode .container p:nth-child(4),
main .qrcode .container p:nth-child(6) {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.88);
}
main .qrcode .container p:nth-child(2) {
  color: #ffffff;
  background: #633bbc;
  padding: 4px 8px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  width: 80%;
  color: #ffffff;
}
main .qrcode .container {
  display: flex;
  justify-content: space-between;
}
main .qrcode span {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.64);
}

main .qrcode .aviso {
  margin-top: 24px;
  text-align: center;
}
main .qrcode .aviso p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}
main .qrcode .aviso b {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}
footer {
  margin-top: 20px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.02em;

  color: #ffffff;
}
@media (min-width: 600px) {
  body {
    background: #8257e5;
  }
  main .header {
    background-image: radial-gradient(
        circle at left top,
        #8257e5 0,
        transparent 0
      ),
      radial-gradient(circle at left bottom, #8257e5 20px, transparent 0),
      radial-gradient(circle at right top, #8257e5 0, transparent 0),
      radial-gradient(circle at right bottom, #8257e5 20px, transparent 0);
  }

  main .identify {
    background-image: radial-gradient(
        circle at left top,
        #8257e5 20px,
        transparent 0
      ),
      radial-gradient(circle at left bottom, #8257e5 20px, transparent 0),
      radial-gradient(circle at right top, #8257e5 20px, transparent 0),
      radial-gradient(circle at right bottom, #8257e5 20px, transparent 0);
  }
  main .qrcode {
    background-image: radial-gradient(
        circle at left top,
        #8257e5 20px,
        transparent 0
      ),
      radial-gradient(circle at left bottom, #8257e5 0, transparent 0),
      radial-gradient(circle at right top, #8257e5 20px, transparent 0),
      radial-gradient(circle at right bottom, #8257e5 0, transparent 0);
  }
}
